.svn
GPUCache
*.launch
.classpath
.mendix-cache
.project
bin
debug.log
deployment
modeler-merge-marker
node_modules
target
packages
releases
*.lock
/.apt_generated/
/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/mxzeromq.mpr.bak
/mxzeromq.mpr.lock
